<div class="input-group">
    <span class="input-group-btn">
      <button (click)="cambiarValor(-5)"
              type="button"
              [ngClass]="btnClass"
              >-</button>
    </span>
    <input
      type="number"
      class="form-control"
      [ngClass]="{'is-invalid': progreso > 100 || progreso < 0}"
      placeholder="Progress"
      (ngModelChange)="onChange($event)"
      [(ngModel)]="progreso"
      [ngModelOptions]="{standalone: true}">

    <span class="input-group-btn">
      <button (click)="cambiarValor(5)"
              type="button"
              [ngClass]="btnClass"
              >+</button>
    </span>
  </div>
